.App {
  font-family: sans-serif;
  text-align: center;
}

.head2 {
  background: orange;
  height: 50px;
  padding: 10px;
}

.aboutCard {
  background: rgba(230, 182, 94, 1);
  margin: 10px;
  height: 200px;
}

.aboutHeader {
  font-size: 22px;
  font-style: italic;
  text-align: center;
}
